* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
}

/* Ma bibliotheque */
/* Position, display, flex etc... */

.text-center {
    text-align: center;
}

.position-absolute {
    position: absolute;
}

.position-relative {
    position: relative;
}

.top--300 {
    top: -300vh;
}

.bottom-70px {
    bottom: 70px;
}

.left-25 {
    left: 25vw;
}

.d-flex {
    display: flex;
}

.d-none {
    display: none;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.justify-content-around {
    justify-content: space-around;
}

.flex-direction-column {
    flex-direction: column;
}

.flex-shrink-0 {
    flex-shrink: 0;
}

.overflow-hidden {
    overflow: hidden;
}

.transition1 {
    transition: transform 0.5s;
}

.transition2 {
    transition: top 0.5s;
}

.z-index-1 {
    z-index: 1;
}

.text-decoration-none {
    text-decoration: none;
}

.list-style-none {
    list-style: none;
}

/* Les couleurs */

.bg-rosyb {
    background-color: rosybrown;
}

.bg-tan {
    background-color: tan;
}

.bg-black {
    background-color: black;
}

.bg-green {
    background-color: green;
}

.bg-red {
    background-color: red;
}

.bg-brown {
    background-color: brown;
}

.bg-yellow {
    background-color: yellow;
}

.bg-orange {
    background-color: orange;
}

.text-color-black {
    color: black;
}

/* Les sizing */

.h-16 {
    height: 16%;
}

.h-50 {
    height : 50%;
}

.h-100 {
    height: 100%;
}

.h-200px {
    height: 200px;
}

.h-300px {
    height: 300px;
}

.h-400px {
    height : 400px;
}

.w-50 {
    width: 50%;
}

.w-100 {
    width: 100%;
}

.w-300px {
    width: 300px;
} 

.w-350px {
    width: 350px;
}

.w-500px {
    width: 500px;
}

/* Padding et marges */

.m-auto {
    margin: auto;
}

.m-10px {
    margin: 10px;
}

.p-10px {
    padding: 10px;
}

.ms-25px {
    margin-left: 25px;
}

/* Les boutons ronds du slider */

.button-radio {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin: 2px;
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0);
}

.button-radio.active {
    background-color: white;
}

/* Le menu burger en forme de burger */

#menu_burger {
    height: 350px;
    width: 90vw;
    border-top-left-radius: 40%;
    border-top-right-radius: 40%;
    padding-top: 60px;
    top : -400px;
    left: 5vw;
    z-index: 2;
}

/* La taille des icones */

.fa-solid, li a {
    font-size: 2em;
}

/* Le responsive */

@media screen and (max-width: 700px) {

    nav {
        display: none!important;
    }

    #navmob {
        display: flex;
    }

    #prev, #next {
        position: absolute;
    }

    #prev {
        left: 1vw;
    }

    #next {
        right: 1vw;
    }
}